<footer class="flex">
    <div class="f-info flex">
       <div class="f-info-socials flex">
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
       </div>
       <div class="company-tag"> ©Wanderlust Private Limited</div>
       <div class="f-info-link flex">
        <a href="/Privacy">Privacy</a>
        <a href="/Terms">Terms</a>
       </div>
    </div>
</footer>